#intro h1 {
    text-align: center;
}

#intro p {
  margin: auto 25%;
  text-align: center;
}

#btnDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

#startBtn {
    background: purple;
    color: white;
    border-radius: 10%;
}

.hide {
    display: none;
  }

#header {
    display: flex;
}

div .highscores {
    flex: 1;
}

div .timeSpanLeft {
    flex: 1
}